PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2023-05-15 13:23:31.003257');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2023-05-15 13:23:31.125696');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2023-05-15 13:23:31.218073');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO auth_user_groups VALUES(1,1,1);
INSERT INTO auth_user_groups VALUES(5,15,2);
INSERT INTO auth_user_groups VALUES(6,16,2);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'2','test',3,'',4,1,'2023-05-19 02:22:50.568055');
INSERT INTO django_admin_log VALUES(2,'4','test2',3,'',4,1,'2023-05-19 03:34:56.527592');
INSERT INTO django_admin_log VALUES(3,'5','hello',3,'',4,1,'2023-05-19 03:39:58.484664');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
INSERT INTO auth_group VALUES(1,'admin');
INSERT INTO auth_group VALUES(2,'patient');
INSERT INTO auth_group VALUES(3,'doctor');
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(0,'!TsX57l04uSjhzV2bvS2DLPQdsCHEJ2LkKaQtXr60',NULL,0,'testsecretary','','',0,1,'2023-05-28 15:31:29.313555','');
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$600000$qXzHxoTDL0v5jIKn9HmyX4$ASchlmKXpAbjbS0Hxhi+7/1sDixZSeHLGXBcYEb5kzI=','2023-05-28 05:38:01.857734',1,'admin','','kylenabo45@gmail.com',1,1,'2023-05-19 01:08:03','');
INSERT INTO auth_user VALUES(15,'pbkdf2_sha256$600000$1ChZsoTHJj0KoHmwrriDVB$XwOUJxDiNdlH8sVOxyay90OYiXuL/a+rX96rjmkskfI=','2023-05-26 15:33:22.624600',0,'test','','test@gmail.com',0,1,'2023-05-20 09:04:54.279211','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('lhken0kb4vdj4ena49w7vz8ao7u3t3t4','.eJxVjMsOwiAQRf-FtSFApw9cuvcbyMDMSNVAUtqV8d-1SRe6veec-1IBtzWHrfESZlJn5Yw6_Y4R04PLTuiO5VZ1qmVd5qh3RR-06Wslfl4O9-8gY8vfmkeHfiLoHE3JdxINAPvOCaAVGU1P7AdgsOgG8b0YG8V67okiTcPI6v0BCvs4ew:1q0NpY:Qkp8FNVxFQHHv8FLBlbZVlqZBu_bn_6CTnphytdGccU','2023-06-03 14:45:12.192292');
INSERT INTO django_session VALUES('fldwklk9tvhdgvnl7mmfzds6mnv31pfk','.eJxVjMsOwiAQRf-FtSGAwIBL9_0GMsNDqgaS0q6M_65NutDtPefcFwu4rTVsIy9hTuzClGSn35EwPnLbSbpju3Uee1uXmfiu8IMOPvWUn9fD_TuoOOq3NhqtcEpagGK1L4ZE1ImKwAjKo9MOogRjHCZdzspaklEBGCrKl2w8e38A7CI3jQ:1q0P9W:VfLWfJDGXNOlLpqM8j_mKVmwB7Aw1Lq5Ji8U3WvBovs','2023-06-03 16:09:54.033250');
INSERT INTO django_session VALUES('fds5cpu142qrlorgqjzgxpvikvc1rdwd','.eJxVjEsOwiAUAO_C2hD6ytel-56BPHggVQNJaVfGuxuSLnQ7M5k383jsxR89bX4ldmWTYpdfGDA-Ux2GHljvjcdW920NfCT8tJ0vjdLrdrZ_g4K9jK80ZBTGLBSpbJCyzhBJSynIarBRJ5IW0WqaJ5hRTBocuRCcypDAsc8XGRU4Qg:1q0cyz:r5ZAbJrx88dj3JQu8cX8Kb4DNIX1BgG5QIdKQsi6GDs','2023-06-04 06:55:57.587224');
CREATE TABLE IF NOT EXISTS "myapp_appointment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "doctor_name" varchar(40) NULL, "appointment_description" text NOT NULL, "patient_name" varchar(40) NULL, "account_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "doctor_id" varchar(40) NULL, "patient_id" varchar(40) NULL, "appointment_date" date NOT NULL, "patient_email" varchar(40) NULL, "secretary_id" varchar(40) NULL, "secretary_name" varchar(40) NULL, "doctor_department" varchar(40) NULL);
INSERT INTO myapp_appointment VALUES(33,NULL,'DASDAS','Name Here',NULL,NULL,NULL,'2023-05-21',NULL,NULL,NULL,NULL);
INSERT INTO myapp_appointment VALUES(69,'Rex Balboa','i am syc','Josh Zerna',26,'27',NULL,'2023-05-27',NULL,NULL,NULL,NULL);
INSERT INTO myapp_appointment VALUES(73,'Kyle Nabo','help','Josh Zerna',31,'25',NULL,'2023-05-27',NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "myapp_doctorlinkssecretary" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "secretary_id" varchar(40) NULL, "secretary_name" varchar(40) NULL, "doctor_name" varchar(40) NULL, "doctor_id" varchar(40) NULL, "account_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "doctor_department" varchar(40) NULL);
INSERT INTO myapp_doctorlinkssecretary VALUES(33,'29','Secretary One','Rex Balboa','27',NULL,'Cardiologist');
INSERT INTO myapp_doctorlinkssecretary VALUES(35,'35',NULL,NULL,'34',NULL,NULL);
INSERT INTO myapp_doctorlinkssecretary VALUES(38,'33','Jawad Domato','Marcelo Meneses','23',NULL,'Cardiologist');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',29);
INSERT INTO sqlite_sequence VALUES('django_admin_log',26);
INSERT INTO sqlite_sequence VALUES('django_content_type',8);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "myapp_appointment_account_id_4e05a8bf" ON "myapp_appointment" ("account_id");
CREATE INDEX "myapp_doctorlinkssecretary_account_id_9469e5bd" ON "myapp_doctorlinkssecretary" ("account_id");
COMMIT;
